In [ ]:
Dear Participant,

We welcome you all to the case-based project of this course. This project has 2 case studies. The first case study (described below - 30 points) covers concepts taught in Part 1 (first 8 hours of Neural networks basics).

 ** Q.7 & 8 are "Optional".

1st case study - Project 1:

 

The case study is from an open source dataset from Kaggle. 

Link to the Kaggle project site:

https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling (Links to an external site.)Links to an external site.

 

Given a Bank customer, can we build a classifier which can determine whether they will leave or not using Neural networks?

 

Case file: bank (1).csvView in a new window

 
The points distribution for this case is as follows:

Read the dataset
2. Drop the columns which are unique for all users like IDs (5 points)
3. Distinguish the feature and target set (5 points)
4. Divide the data set into Train and test sets
5. Normalize the train and test data (5 points)
6. Initialize & build the model (10 points)
7. Optimize the model (Optional)
8. Predict the results using 0.5 as a threshold (Optional)
Print the Accuracy score and confusion matrix (5 points)

In [8]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [ ]:
dataset = pd.read_csv('bank.csv')

In [3]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

### data preprocessing

In [5]:
dataset.drop(['RowNumber','CustomerId','Surname'], axis = 1, inplace=True)

In [6]:
dataset.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
#label encoding Gender
labelencoder_gender = LabelEncoder()
dataset['Gender'] = labelencoder_gender.fit_transform(dataset['Gender']) #applying on Gender
dataset.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [10]:
#label encoding Geography
labelencoder_geography = LabelEncoder()
dataset['Geography'] = labelencoder_geography.fit_transform(dataset['Geography']) #applying on Geography
dataset.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [12]:
dataset = pd.get_dummies(dataset, columns=['Geography'],drop_first =True)

In [13]:
dataset.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_1,Geography_2
0,619,0,42,2,0.00,1,1,1,101348.88,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,1

### Splitting data

In [14]:
#include relevant columns within x and y
X =dataset.drop("Exited", axis=1)
Y = dataset["Exited"]

In [16]:
#train and test set split, and feature scaling

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

F:\anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
F:\anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
F:\anaconda3\lib\site-packages\ipykernel_launcher.py:9: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by StandardScaler.
  if __name__ == '__main__':

###  Building the initial model using Keras

In [51]:
import keras
from keras.models import Sequential
from keras.layers import Dense #to add layers

In [52]:
model = Sequential()
#model.add(tf.keras.layers.BatchNormalization())
model.add(Dense(output_dim = 6,init = 'uniform', activation = 'relu', input_dim = 11))
model.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))
model.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

F:\anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform")`
  This is separate from the ipykernel package so we can avoid doing imports until
F:\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`
  after removing the cwd from sys.path.
F:\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  """

In [23]:
model.compile(optimizer = 'adam', loss = "binary_crossentropy", metrics = ['accuracy'])

In [24]:
model.fit(X_train, Y_train, batch_size = 10,epochs  = 20)

Epoch 1/20
8000/8000 [==============================] - 4s 536us/step - loss: 0.3551 - acc: 0.8520
Epoch 2/20
8000/8000 [==============================] - 3s 334us/step - loss: 0.3531 - acc: 0.8559
Epoch 3/20
8000/8000 [==============================] - 3s 332us/step - loss: 0.3521 - acc: 0.8542
Epoch 4/20
8000/8000 [==============================] - 3s 333us/step - loss: 0.3516 - acc: 0.8547
Epoch 5/20
8000/8000 [==============================] - 3s 336us/step - loss: 0.3506 - acc: 0.8564
Epoch 6/20
8000/8000 [==============================] - 3s 340us/step - loss: 0.3504 - acc: 0.8566
Epoch 7/20
8000/8000 [==============================] - 3s 349us/step - loss: 0.3487 - acc: 0.8550
Epoch 8/20
8000/8000 [==============================] - 3s 343us/step - loss: 0.3489 - acc: 0.8574
Epoch 9/20
8000/8000 [==============================] - 3s 339us/step - loss: 0.3494 - acc: 0.8547
Epoch 10/20
8000/8000 [==============================] - 3s 340us/step - loss: 0.3483 - acc: 0.8569
Epoch 11/20
8000/8000 [==============================] - 3s 344us/step - loss: 0.3474 - acc: 0.8589
Epoch 12/20
8000/8000 [==============================] - 3s 341us/step - loss: 0.3473 - acc: 0.8575
Epoch 13/20
8000/8000 [==============================] - 3s 341us/step - loss: 0.3465 - acc: 0.8577
Epoch 14/20
8000/8000 [==============================] - 3s 341us/step - loss: 0.3469 - acc: 0.8575
Epoch 15/20
8000/8000 [==============================] - 3s 355us/step - loss: 0.3463 - acc: 0.8567
Epoch 16/20
8000/8000 [==============================] - 4s 475us/step - loss: 0.3458 - acc: 0.8569
Epoch 17/20
8000/8000 [==============================] - 4s 506us/step - loss: 0.3455 - acc: 0.8594
Epoch 18/20
8000/8000 [==============================] - 4s 506us/step - loss: 0.3453 - acc: 0.8581
Epoch 19/20
8000/8000 [==============================] - 4s 508us/step - loss: 0.3456 - acc: 0.8567
Epoch 20/20
8000/8000 [==============================] - 4s 502us/step - loss: 0.3457 - acc: 0.8567

In [26]:
# evaluate the model
score = model.evaluate(X_test, Y_test, verbose=0)
# Print test accuracy
print('\n', 'Test accuracy for Model :', score[1]*100)

 Test accuracy for Model : 86.0

### Model Optimization

In [34]:
# Function to create model
def create_model(optimizer,activation):
    # create model
    model =Sequential()

    model.add(Dense(output_dim = 6,init = 'uniform', activation = 'relu', input_dim = 11))
    model.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))
    model.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))
    
    # SGD with momentum and decay 
    #sgd = tf.optimizers.SGD(lr=learn_rate, decay=1e-6, momentum=0.9)
    
    # Compile model
    model.compile(loss='binary_crossentropy', optimizer=optimizer, metrics=['accuracy'])
    return model

In [35]:
# create model using KerasClassifier
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier

model = KerasClassifier(build_fn=create_model, epochs=10, batch_size=10, verbose=0)

In [50]:
#find the best optimizer and activation function
from sklearn.model_selection import GridSearchCV

# define the grid search parameters

optimizers = ['sgd', 'adam', 'adamax']
activation = ['relu', 'tanh', 'sigmoid']
#learn_rate = [0.001, 0.01, 0.1, 0.2, 0.3]
param_grid = dict(optimizer=optimizers,activation=activation)

# GridSearchCV to get optimized parameters
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1)
result = grid.fit(X_train, Y_train)

F:\anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform")`

F:\anaconda3\lib\site-packages\ipykernel_launcher.py:7: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`
  import sys
F:\anaconda3\lib\site-packages\ipykernel_launcher.py:8: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`

In [37]:
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))

means = result.cv_results_['mean_test_score']
stds = result.cv_results_['std_test_score']
params = result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: 0.856625 using {'activation': 'tanh', 'optimizer': 'adam'}
0.796000 (0.003717) with: {'activation': 'relu', 'optimizer': 'sgd'}
0.828625 (0.002500) with: {'activation': 'relu', 'optimizer': 'adam'}
0.826000 (0.002315) with: {'activation': 'relu', 'optimizer': 'adamax'}
0.796000 (0.003717) with: {'activation': 'tanh', 'optimizer': 'sgd'}
0.833625 (0.005526) with: {'activation': 'tanh', 'optimizer': 'adam'}
0.826000 (0.003559) with: {'activation': 'tanh', 'optimizer': 'adamax'}
0.796000 (0.003717) with: {'activation': 'sigmoid', 'optimizer': 'sgd'}
0.836250 (0.007846) with: {'activation': 'sigmoid', 'optimizer': 'adam'}
0.824875 (0.001076) with: {'activation': 'sigmoid', 'optimizer': 'adamax'}

In [38]:
#best Model
# Check the accuracy of best model
best_optimised_model = grid.best_estimator_.model
# evaluate the model
score = best_optimised_model.evaluate(X_test, Y_test, verbose=0)
# Print test accuracy
print('\n', 'Test accuracy for Optimized Model :', score[1]*100)

 Test accuracy for Optimized Model : 84.0

### Model Prediction

In [49]:
##predicting the results
y_pred = best_optimised_model.predict(X_test)
y_pred = (y_pred > 0.5) #threshhold is 0.5 so as classify each probability into True or False

In [44]:
from sklearn.metrics import confusion_matrix, accuracy_score
print('\n', 'Confusion Matrix of Optimized Model :')
confusion_matrix(Y_test,y_pred)

 Confusion Matrix of Optimized Model :

array([[1558,   37],
       [ 283,  122]], dtype=int64)

In [47]:
# Print accuracy score
print('\n', 'Accuracy Score of Optimized Model :', accuracy_score(Y_test,y_pred)*100)

 Accuracy Score of Optimized Model : 84.0